.header{
    background-color: #282e3f;
    display: flex;
    top: 0;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 50px
    
    
}
.header li{
    float: left;
}
.subMenu{
    list-style: none;
    display: none;
    align-items: center;
    background-color: #4abe9d;
    margin-top: 10px;
    height: 40px;
    justify-content: center 
}

.header li:first-child:hover .subMenu{
    display: flex;
    position: absolute
}
.subMenu li{
    margin-right: 10px;
}